<h1>Class work 1 {{getTime()}} {{getDate()}}</h1>
<hr>
<h1>Home work {{title}}</h1>
<p>
  <input id="chBox_1" type="checkbox"> <label for="chBox_1">Сделать ДЗ по Angular/React. </label>
  <span class="targetDate">Выполнить до: {{targetDate | date:"dd-MM-yyyy hh:mm"}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<p>
  <input id="chBox_2" type="checkbox" checked> <label for="chBox_2">Сделать ДЗ по PHP.</label>
  <span class="targetDate">Выполнить до: {{targetDate}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<p>
  <input id="chBox_3" type="checkbox"> <label for="chBox_3">Читать книгу.</label>
  <span class="targetDate">Выполнить до: {{targetDate}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<p>
  <input id="chBox_4" type="checkbox"> <label for="chBox_4">Переустановить ОС Windows.</label>
  <span class="targetDate">Выполнить до: {{targetDate}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<!-- <hr>
<h1>Class work 2</h1>
<ul>
  <li *ngFor="let item of taskList" 
    (click)="onClick(item)">
    <s *ngIf="item.isComplete == true">{{item.id}}. Name: {{item.name}}. Is complete: {{item.isComplete}}.</s>
    <p *ngIf="item.isComplete != true">{{item.id}}. Name: {{item.name | uppercase}}. Is complete: {{item.isComplete}}.</p>
  </li>
</ul> -->
<hr>
<app-tasks></app-tasks>
<hr>
<app-posts></app-posts>