<h1>Работа на уроке {{getTime()}} {{getDate()}}</h1>
<hr>
<h1>Home work {{title}}</h1>
<p>
  <input type="checkbox"> Сделать ДЗ по Angular/React. 
  <span class="targetDate">Выполнить до: {{targetDate}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<p>
  <input type="checkbox" checked> Сделать ДЗ по PHP.
  <span class="targetDate">Выполнить до: {{targetDate}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<p>
  <input type="checkbox"> Читать книгу.
  <span class="targetDate">Выполнить до: {{targetDate}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<p>
  <input type="checkbox"> Переустановить ОС Windows.
  <span class="targetDate">Выполнить до: {{targetDate}}</span>
  <span class="separator"> | </span> 
  <span class="currentDate">Текущяя дата: {{getTime()}} {{getDate()}}</span>
</p>
<hr>